<div class="vip_sanpham_container" data-ref='{"stt":<%= stt %>,"sanpham_id" :<%= id %>}'>
	<div class="wraptocenter spanpham_image_thumb">
		<img src="<%= baseUrl + path_thumb%>"/>
	</div>
	<span class="title" title="<%= ten_san_pham %>"><%= ten_san_pham %></span>
	<span class="remove" title="remove"></span>
</div>